/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #785c1c;
}

/* コンテンツ全体にかかるラッパー要素 */
.wrapper {
  max-width: 1100px;
  min-width: 100px;
  width: 100%
  height: auto;
  margin: 0 auto;
  padding: 0 4%
}
/* 画面上部のグルーピング */
div.header_group{
  position: fixed;
  top: 0;
}
/* ヘッダ */
header.site-header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    max-width: 100%;
    height: 5vh;
}
/* サイトトップへのリンク */
header.site-header > a.top_link{
    font-style: serif;
    background-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

}
/* 画面タイトル部 */
div.top_image{
  display: block;
  background-color: black;
  height: 15vh;
  width: auto;
  height: auto;
  font-style: serif;
}
div.top_image > p {
  font-size: 6vw;
  width: auto;
  text-align: center;
}

/* スマホ用 */
@media screen and (max-width: 620px)  {

    /* 大きな画面用のメニューは非表示とする */
    div.page_nav  {
      display: none;
    }

    /* 画面右上にtoggleを用意 */
    div.Toggle {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      background-color: black;
    }
    /* .page_nav_small ul li a:hover
    {
      background-color:rgba(0,0,0,0.5);
      color:orange;
    } */
    .page_nav_small{
      display: none;
      text-align:center;
      margin-left: auto;
      margin-right: 0;
      height: auto;
      width: 200px;

    }
    /*ナビゲーション部分*/
    .page_nav_small > ul li a {
      position: relative;
      z-index: 1;
      background-color: rgba(202, 214, 209,0.8);
      display:block;
      font-weight:bold;
      text-decoration:none;
      padding: 0.5em;
      border-bottom: 1px dotted #CCC;
      color: rgb(68, 70, 73);
    }
    .nav_small_items {
      list-style-type: none;
    }
    .Toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #333;
    -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
    transition: .35s ease-in-out;			/*変化の速度を指定*/
}
   /*各ボーダー少しずつずらす*/
  .Toggle span:nth-child(1) {
      top:5px;
  }
   .Toggle span:nth-child(2) {
      top: 18px;
  }
   .Toggle span:nth-child(3) {
      top: 32px;
  }
  /* toggleの三本線の動き */
  .Toggle.active span:nth-child(1) {
      top: 18px;
  /* 1番目のspanをマイナス45度に */
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  /* 2番目と3番目のspanを45度に */
  .Toggle.active span:nth-child(2) ,
  .Toggle.active span:nth-child(3) {
      top: 18px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
  }

}

/* PC or タブレット */
  @media screen and (min-width: 621px)  {

  div.small_show_drawer {
    display: none;
  }

  /* 画面上部タイトル下のナビゲーションメニュー */
  div.page_nav {
    background-color: black;
    color:#f5f5f5; /*薄い灰色 */
    display:flex;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    font-size: 2rem;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 5vh;
  }

  /* ナビゲーション個別アイテム */
  .page_nav > li.nav_items {
    border-right: solid;
    border-right-width: thin;
    border-color: #808080; /*薄い灰色 */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-style: serif;
    text-align: center;
    position: relative;
    display: inline-block;
  }
  /* リンクの下線を消す＆文字色 */
  .nav_items > a {
    text-decoration : none ;
    color: #808080;
  }

  .page_nav > li.nav_items::after {
    bottom: 5px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #808080;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
    position: absolute;
    z-index: 2;
  }
  .page_nav > li.nav_items:hover::after {
    transform: scale(1, 1);
  }
  /* ナビゲーション個別アイテム最後の要素（右側線のキャンセル用） */
  .page_nav > li.nav_items:last-child {
    border-right: none;
  }
}

/*
div.page_nav > a.nav_items:hover {
  color: white; background-color: royalblue;
}
*/

/* フッター部 */
footer {
  background-color: black;
  font-size: 1rem;
  font-style: serif;
  color: #808080; /*薄い灰色 */
  text-align: center;
  height: 30px;
  position: absolute;
  width: 100%;
  max-width: 100%;
}

/*-----SITE TOP個別設定-----*/
/* サイトメイン表示部 */
div.top_main {
  display: block;
  background-color: #808080;
  height: 600px;
  width: 100%;
  max-width: 100%;

}
div.top_main > p {
  font-size: 1.5rem;
  font-weight: bold;
}
/*-----about me個別設定-----*/
div.contents_parent_odd {
  display: block;
  background-color: #808080;
  height: 200px;
  width: 100%;
  max-width: 100%;
}
div.contents_parent_even {
  display: block;
  background-color: #948f8f;
  height: 200px;
  width: 100%;
  max-width: 100%;
}
div.contents {
  padding-left: 2rem;
}
p {
  font-size: 1.5rem;
  font-weight: bold;
  word-break:break-all
}
li {
  font-size: 1.5rem;
  font-weight: bold;
  word-break:break-all
}

/*-----works個別設定-----*/
div.contents_parent {
  display: block;
  background-color: #808080;
  height: 600px;
  /* width: 100%; */
  max-width: 100%;
}
div.contents_child {
  margin-bottom: 5px;
}
div.job_title {
  font-size: 1.5rem;
  color: #d2d5d4;
  width: 80%;
  border-radius: 5px;
  font-weight: bold;
  word-break:break-all;
  background-color: black;
  position: relative;
  z-index: 0;
}
div.job_title  > span {
  /* float: right; */
  /* margin: 0 0 0 auto; */
  text-align: right;
  position: absolute;
  right: 2%;
}
div.job_sub {
  width: 80%;
  display: none;
  border-radius: 5px;
  font-weight: bold;
  word-break:break-all;
  background-color: #948f8f;
}
div.job_sub > p {
  font-size: 90%;
}

/*-----contact個別設定-----*/
#name {
  width: 300px;
  border-radius: 3px; /*ボックス角の丸み*/
  border: 2px solid #785c1c; /*枠線*/
  background-color: rgb(215, 217, 215,5);
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  display: block;
}
#mail_address {
  width: 400px;
  border-radius: 3px; /*ボックス角の丸み*/
  border: 2px solid #785c1c; /*枠線*/
  background-color: rgb(215, 217, 215,5);
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  display: block;
}
#inquiry {
  width: 400px;
  border-radius: 3px; /*ボックス角の丸み*/
  border: 2px solid #785c1c; /*枠線*/
  background-color: rgb(215, 217, 215,5);
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  display: block;
}
#send {
  position: relative;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  width: 100px;
  height: auto;
  border-radius: 3px;
  background-color: rgb(185, 179, 184);
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #2a292a;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
#send:hover {
  top: -4px;
  box-shadow: 0 7px 0 #2a292a;
}
#send:active {
  top: 3px;
  box-shadow: none;
}
.send_true {
    border-bottom: 2px solid #252524;
    padding-top: 2px;
    padding-bottom: 10px;
    font-weight: bold;

}
